<!-- wp:template-part {"slug":"header","theme":"eco-renewable-energy","tagName":"header"} /-->

<!-- wp:pattern {"slug":"eco-renewable-energy/banner"} /-->

<!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","className":"services-box","layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group services-box">
<!-- wp:pattern {"slug":"eco-renewable-energy/project-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"eco-renewable-energy","tagName":"footer"} /-->